#ifndef SECRETS_H
#define SECRETS_H

#include <QString>

namespace secrets
{

const QString twitchClientId(u"your client id here"_qs);
const QString twitchClientSecret(u"your client secret here"_qs);
const QString twitchRedirctUri(u"your redirect uri here"_qs);

} // namespace secrets

#endif // SECRETS_H
